{% extends "::layout.html.twig" %}



{% block header %}
   <header class="grid_12 alpha omega">
        <h1 class="grid_5 push_6">Outil d'audits</h1>
        <h2 class="grid_3 pull_4">Évaluation de sites web</h2>
        <div class="clear"></div>
        <nav class="grid_9 push_3 omega">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
        </nav>
    </header>
{% endblock %}

{% block title %}
{% endblock %}

{% block js_lien %}
{% endblock %}

{% block contenu %}
    <div class="grid_10 push_1" id="content">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="grid_5 push_3 ">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}


{% block css %}
    {{ asset('css/auditBundle.css') }}
{% endblock %}
