{% extends "SSSAuditBundle::layout.html.twig" %}

{% block title %}
    Faire un audit - {{parent()}}
{% endblock %}

{% block js_lien %}
{{ parent() }}
    <script type="text/javascript" src="{{ asset('js/Audit/AuditAdd.js') }}"></script>
{% endblock %}

{% block overlay %}
    <div class="overlay hidden" id="overlay_add_audit">
        <div class="inner_overlay">
            <p class="hidden error" id="ajax_error"></p>
            <p class="hidden message" id="ajax_success"></p>
            <img src="{{ asset('images/ajax-loader.gif') }}" id="ajax_loader" />
        </div>
    </div>
{% endblock %}

{% block contenu %}
    <div class="grid_10 push_1" id="content" {% if existant is defined %}
         audit="{{existant.id}}"{% endif %}>
        <h1 class="col10">Audit pour <span id="client">{{ client }}</span></h1>
        {% if existant is not defined %}
            {% set existant = null %}
        {% endif %}
        <ul class="onerow col11 last" id="onglets">
            {% for audit in audits %}
                {% if audit  == constant('SSS\\AuditBundle\\Entity\\Audit::ERGO') %}
                    <li class="col2"><a href="#ergonomie">Ergonomie</a></li>
                {% endif %}
                {% if audit  == constant('SSS\\AuditBundle\\Entity\\Audit::ACCESS') %}
                    <li class="col2"><a href="#accessibilite">Accessibilité</a></li>
                {% endif %}
                {% if audit  == constant('SSS\\AuditBundle\\Entity\\Audit::COMPA') %}
                   <li class="col2"><a href="#compatibilite">Compatibilité</a></li>
                {% endif %}
                {% if audit  == constant('SSS\\AuditBundle\\Entity\\Audit::FCT') %}
                    <li class="col2"><a href="#fonctionnalites">Fonctionnalités</a></li>
                {% endif %}
            {% endfor %}
                    <li class="col2 current"><a href="#total">Total &amp; Envoi</a></li>
        </ul>
        {% set total = 0 %}
        <p id="note" class="col12">Total : <span id="results">0</span>/<span id="note_max">{{ total }}</span></p>

        {% for audit in audits %}
            {% if audit  == constant('SSS\\AuditBundle\\Entity\\Audit::ERGO') %}
                {% set total = total + constant('SSS\\AuditBundle\\Entity\\ErgoAudit::NBR_QUESTIONS') %}
                {% render controller('SSSAuditBundle:Renderer:Ergo', {'existant': existant}) %}
            {% endif %}
            {% if audit  == constant('SSS\\AuditBundle\\Entity\\Audit::ACCESS') %}
                {% set total = total + constant('SSS\\AuditBundle\\Entity\\AccessAudit::NBR_QUESTIONS') %}
                {% render controller('SSSAuditBundle:Renderer:Access', {'existant': existant}) %}
            {% endif %}
            {% if audit  == constant('SSS\\AuditBundle\\Entity\\Audit::COMPA') %}
                {#% set total = total + 50 %#}
                {% render controller('SSSAuditBundle:Renderer:Compa', {'existant': existant}) %}
            {% endif %}
            {% if audit  == constant('SSS\\AuditBundle\\Entity\\Audit::FCT') %}
                {#% set total = total + 50 %#}
                {% render controller('SSSAuditBundle:Renderer:Fct', {'existant': existant}) %}
            {% endif %}
        {% endfor %}

        <div class="part" id="total">
            <label for="commentaire" class="col10">Commentaire : </label>
        <br />
        <textarea class="col11" id="commentaire" placeholder="Si vous le désirez, vous pouvez mettre ici un commentaire pour votre client."></textarea>
        <button id="send_data" class="button col2">Envoyer</button></div>
    </div>
{% endblock %}
